.input-group {
  display: flex;
  border-radius: 25px;
  width: -10px;
  }
  
  .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
  margin-top: 30px;
  padding: 60px;
  border-radius: 25px;
  }
  
  .border {
  margin-bottom: 50px;
  }
  
  .paperclip {
  margin-left: 65px;
  margin-top: -37px;
  }

